{% extends "base.html" %}
{% block title %}Lista de Software{% endblock %}

{% block content %}

<div >
	<label><h3>Barra de busqueda:</h3>  </label>
	<form class="form-inline " id="nav-bar-form">
  		<input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>
</div>

	
<br><br>
	<table class="table">
		<th>Software</th>
		<th>Departamento</th>
		<th>Funcion</th>		
		{% for software in object_list %}
			<tr>
				<td>{{ software.nombre }}</td>
				<td>{{ software.departamento }}</td>
				<td>{{ software.funcion }}</td>
			</tr>
	{% endfor %}
	</table> 
<a class="btn btn-link form-control" href="{% url 'soft_create'%}"> Agregar un Software</a><br>
<a class="btn btn-link form-control" href="{% url 'dep_create'%}"> Agregar un Departamento</a>	
<a class="btn btn-link form-control " href="{% url 'login' %}">Regresar</a>
{% endblock %}

<script type="text/javascript">
      $(document).ready(function(){
        var searchInput = $("#nav-bar-form input[type=search]")
        var searchQuery;
        searchInput.keyup(function(event){
          searchQuery = $(this).val()
        })
       

        function doneSearchingTyping(){
          if (searchQuery){
            var url = "/investigacion/search?q=" + searchQuery
            document.location.href = url
          }
        }

      });
    </script>