{% extends "base.html" %}

{% block title %}Inicio de sesion{% endblock %}

{% block content %}
	
{% if request.user.is_authenticated %}
	<h1>Bienvenido {{request.user}}</h1>
	
	<h2>Entradas:</h3><br>
	<h3>Aplicacion #1</h2>
	<table class="table">
			<tr>
				<td><a href="{% url 'inv_list'%}"> Listado de Investigaciones </a></td>
			</tr>
			<tr>
				<td><a href="{% url 'inv_create'%}"> Agregar una investigacion</a></td>
			</tr>
	</table> 
	<h3>Aplicacion #2</h2>
	<table class="table">
			<tr>
				<td><a href="{% url 'soft_list'%}"> Listado de Software </a></td>
			</tr>
			<tr>
				<td><a href="{% url 'soft_create'%}"> Agregar un Software</a></td>
			</tr>
			<tr>
				<td><a href="{% url 'dep_create'%}"> Agregar un Departamento</a></td>
			</tr>
	</table> 

{% else %}
	<h4>Message: " {{ message }} "</h4>
	<form method="POST" > {% csrf_token %}
		{{form}}
		<button type="submit" class=" btn  btn-outline-primary" >Login</button>
		<button type="reset" class=" btn  btn-outline-warning" >Cancel</button>

	</form>
{% endif %}
{% endblock %}