{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>{% block title %}{% endblock %}</title>
	     <link href="{% static  'bootstrap4/css/bootstrap.min.css' %}" rel="stylesheet">
       <script type="text/javascript" src="{% static 'bootstrap4/js/jquery.js' %}"></script>
  </head>
  <body>
    {% include "navbar.html" %}
  {% block content %}
	{% endblock %}

<script type="text/javascript">
      $(document).ready(function(){
        var searchInput = $("#nav-bar-form input[type=search]")
        var searchQuery;
        searchInput.keyup(function(event){
          searchQuery = $(this).val()
        })
       

        function doneSearchingTyping(){
          if (searchQuery){
            var url = "/investigacion/search?q=" + searchQuery
            document.location.href = url
          }
        }

      });
    </script>































  </body>
</html>