 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'login' %}">Examen Parcial 2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'login' %}">Inicio <span class="sr-only">(current)</span></a>
      </li>
      
{% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Serrar Sesion</a>
      </li>
{% else %}
      <li class="nav-item">
        <a class="nav-link disabled" href="{% url 'signup' %}" tabindex="-1" aria-disabled="true">Sign Up</a>
      </li>
{% endif %}
    </ul>
  </div>
</nav>